{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Header Start -->
<div class="container-fluid page-header" style="background-image: url('{% static 'img/categories.jpg' %}'); background-size: cover; background-position: center;">
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h3 class="display-4 text-white text-uppercase">All Posts</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="{% url 'home' %}">Home</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">All Posts</p>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->

<!-- Posts Start-->
<br/>
<div class="container">
    <h2>All Posts</h2>
    <div class="row">
        {% for post in posts %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.content|slice:":100" }}...</p>
                        <a href="{% url 'post-details' post.id %}" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No posts available.</p>
        {% endfor %}
    </div>
</div>
<!-- Posts End-->
{% endblock %}
