{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Password Reset Requested</h2>
    <p>If an account exists with the email you entered, an email has been sent with instructions to reset your password.</p>
    <p>Please check your inbox and follow the instructions to reset your password. If you don't see the email, make sure to check your spam folder.</p>
    <a href="{% url 'login' %}" class="btn btn-primary">Return to Login</a>
</div>
{% endblock %}
